<select name="{{selectName}}" data-dtype="String" {{#if disabled}}disabled{{/if}}>
	<option value="physical" {{#if_eq current "physical" }} selected{{/if_eq}}>{{localize "FU.Elements.physical"}}
	</option>
	<option value="air" {{#if_eq current "air" }} selected{{/if_eq}}>{{localize "FU.Elements.air"}}</option>
	<option value="bolt" {{#if_eq current "bolt" }} selected{{/if_eq}}>{{localize "FU.Elements.bolt"}}</option>
	<option value="dark" {{#if_eq current "dark" }} selected{{/if_eq}}>{{localize "FU.Elements.dark"}}</option>
	<option value="earth" {{#if_eq current "earth" }} selected{{/if_eq}}>{{localize "FU.Elements.earth"}}</option>
	<option value="fire" {{#if_eq current "fire" }} selected{{/if_eq}}>{{localize "FU.Elements.fire"}}</option>
	<option value="ice" {{#if_eq current "ice" }} selected{{/if_eq}}>{{localize "FU.Elements.ice"}}</option>
	<option value="light" {{#if_eq current "light" }} selected{{/if_eq}}>{{localize "FU.Elements.light"}}</option>
	<option value="poison" {{#if_eq current "poison" }} selected{{/if_eq}}>{{localize "FU.Elements.poison"}}</option>
	<option value="void" {{#if_eq current "void" }} selected{{/if_eq}}>{{localize "FU.Elements.void"}}</option>
</select>