<div class="class-card">
    <div class="grid grid-3col">
        <div class="flexrow">
            <img src="{{class.img}}" class="class-image" />
            <div class="flexcol">
                <p class="class-name">{{class.name}}</p>
                <p class="class-level">{{localize "FU.UI.classLevel"}}: {{class.system.level}} / 10</p>
            </div>
            <div class="flexcol">
                <button class="item-edit fabula-button"><i class="fas fa-solid fa-pencil"></i> {{localize
                    "FU.UI.edit"}}</button>
                <button class="item-delete fabula-button"><i class="fas fa-solid fa-trash"></i> {{localize
                    "FU.UI.delete"}}</button>
            </div>
        </div>
    </div>
</div>