<div class="grid grid-6col">
	<div class="flexrow conditions">
		<div class="flexcol">
			<img class="condition-icon{{#if actor.system.statuses.dazed.immune}} immune{{/if}}"
				src="systems/fabulaultima/assets/ui/knocked-out-stars.svg" title="{{localize 'FU.Status.dazed'}}"
				data-condition="dazed" />
			{{#if isNPC}}
			<span>
				<label for="system.statuses.dazed.immune">{{localize "FU.Resistances.immune"}}</label>
				<input name="system.statuses.dazed.immune" type="checkbox" data-dtype="Boolean" {{#if
					actor.system.statuses.dazed.immune}}checked{{/if}} />
			</span>
			{{/if}}
		</div>
		<div class="flexcol">
			<img class="condition-icon{{#if actor.system.statuses.enraged.immune}} immune{{/if}}"
				src="systems/fabulaultima/assets/ui/enrage.svg" title="{{localize 'FU.Status.enraged'}}"
				data-condition="enraged" />
			{{#if isNPC}}
			<span>
				<label for="system.statuses.enraged.immune">{{localize "FU.Resistances.immune"}}</label>
				<input name="system.statuses.enraged.immune" type="checkbox" data-dtype="Boolean" {{#if
					actor.system.statuses.enraged.immune}}checked{{/if}} />
			</span>
			{{/if}}
		</div>
		<div class="flexcol">
			<img class="condition-icon{{#if actor.system.statuses.poisoned.immune}} immune{{/if}}"
				src="systems/fabulaultima/assets/ui/poison-bottle.svg" title="{{localize 'FU.Status.poisoned'}}"
				data-condition="poisoned" />
			{{#if isNPC}}
			<span>
				<label for="system.statuses.poisoned.immune">{{localize "FU.Resistances.immune"}}</label>
				<input name="system.statuses.poisoned.immune" type="checkbox" data-dtype="Boolean" {{#if
					actor.system.statuses.poisoned.immune}}checked{{/if}} />
			</span>
			{{/if}}
		</div>
		<div class="flexcol">
			<img class="condition-icon{{#if actor.system.statuses.shaken.immune}} immune{{/if}}"
				src="systems/fabulaultima/assets/ui/terror.svg" title="{{localize 'FU.Status.shaken'}}"
				data-condition="shaken" />
			{{#if isNPC}}
			<span>
				<label for="system.statuses.shaken.immune">{{localize "FU.Resistances.immune"}}</label>
				<input name="system.statuses.shaken.immune" type="checkbox" data-dtype="Boolean" {{#if
					actor.system.statuses.shaken.immune}}checked{{/if}} />
			</span>
			{{/if}}
		</div>
		<div class="flexcol">
			<img class="condition-icon{{#if actor.system.statuses.slow.immune}} immune{{/if}}"
				src="systems/fabulaultima/assets/ui/tortoise.svg" title="{{localize 'FU.Status.slow'}}"
				data-condition="slow" />
			{{#if isNPC}}
			<span>
				<label for="system.statuses.slow.immune">{{localize "FU.Resistances.immune"}}</label>
				<input name="system.statuses.slow.immune" type="checkbox" data-dtype="Boolean" {{#if
					actor.system.statuses.slow.immune}}checked{{/if}} />
			</span>
			{{/if}}
		</div>
		<div class="flexcol">
			<img class="condition-icon{{#if actor.system.statuses.weak.immune}} immune{{/if}}"
				src="systems/fabulaultima/assets/ui/back-pain.svg" title="{{localize 'FU.Status.weak'}}"
				data-condition="weak" />
			{{#if isNPC}}
			<span>
				<label for="system.statuses.weak.immune">{{localize "FU.Resistances.immune"}}</label>
				<input name="system.statuses.weak.immune" type="checkbox" data-dtype="Boolean" {{#if
					actor.system.statuses.weak.immune}}checked{{/if}} />
			</span>
			{{/if}}
		</div>
	</div>
</div>