<select name="system.resistances.{{resist}}" data-dtype="Number">
	<option value="-1" {{#if_eq current -1}}selected{{/if_eq}}>{{localize "FU.Resistances.vulnerable"}}</option>
	<option value="0" {{#if_eq current 0}}selected{{/if_eq}}>{{localize "FU.Resistances.neutral"}}</option>
	<option value="1" {{#if_eq current 1}}selected{{/if_eq}}>{{localize "FU.Resistances.resistant"}}</option>
	<option value="2" {{#if_eq current 2}}selected{{/if_eq}}>{{localize "FU.Resistances.immune"}}</option>
	<option value="3" {{#if_eq current 3}}selected{{/if_eq}}>{{localize "FU.Resistances.absorb"}}</option>
</select>