<select name="{{selectName}}" data-dtype="String">
	<option value="vulnerable" {{#if_eq current "vulnerable" }} selected{{/if_eq}}>{{localize
		"FU.Resistances.vulnerable"}}</option>
	<option value="neutral" {{#if_eq current "neutral" }} selected{{/if_eq}}>{{localize "FU.Resistances.neutral"}}
	</option>
	<option value="resistant" {{#if_eq current "resistant" }} selected{{/if_eq}}>{{localize "FU.Resistances.resistant"}}
	</option>
	<option value="immune" {{#if_eq current "immune" }} selected{{/if_eq}}>{{localize "FU.Resistances.immune"}}</option>
	<option value="absorb" {{#if_eq current "absorb" }} selected{{/if_eq}}>{{localize "FU.Resistances.absorb"}}</option>
</select>