<div class="resource-card">
    <div class="flexcol {{r}}">
        <label for="{{inputName}}" title="{{title}}">
            <i class="{{icon}}"></i>{{toUpperCase r}}
        </label>
        <input name="{{inputName}}" type="text" data-dtype="Number" value="{{rValue}}" />
        <p>{{rMax}}</p>
        {{#if_eq r "hp"}}
        <span class="{{r}} crisis">
            <p>
                <i class="fas fa-solid fa-heart-pulse"></i>{{localize "FU.Status.crisis"}}:
                {{crisis}}
            </p>
        </span>
        {{/if_eq}}
    </div>
</div>