<div class="weapon-card">
	<div class="grid grid-3col">
		<div class="flexrow">
			<div class="flexcol weapon-card-header">
				<img class="profile-img" src="{{weapon.img}}" />
				<div class="flexrow">
					<span>
						{{#if weapon.system.isEquipped}}
						{{#if weapon.system.twoHands}}
						<i class="fas fa-solid fa-handshake" title="{{localize 'FU.Weapons.twoHand'}}"></i>
						{{else}}
						<i class="fas fa-solid fa-hand" title="{{localize 'FU.Weapons.oneHand'}}"></i>
						{{/if}}
						{{#if weapon.system.isDualWielding}}
						<i class="fas fa-solid fa-swords" title="{{localize 'FU.Weapons.dualWielding'}}"></i>
						{{else if weapon.system.multi.enabled}}
						<i class="fas fa-solid fa-layer-group"
							title="{{localize 'FU.UI.multi'}}: {{weapon.system.multi.value}}"></i>
						{{/if}}
						{{/if}}
					</span>
				</div>
			</div>

			<div class="flexcol">
				<p class="item-name">
					{{weapon.name}} {{#if weapon.system.isMartial.melee}}<i class="fas fa-solid fa-sword martial"
						title="{{localize 'FU.Proficiencies.melee'}}"></i>{{/if}}{{#if
					weapon.system.isMartial.ranged
					}}<i class="fas fa-solid fa-bow-arrow martial"
						title="{{localize 'FU.Proficiencies.ranged'}}"></i>{{/if}}{{#if
					weapon.system.isMartial.shield}}<i class="fas fa-solid fa-shield martial"
						title="{{localize 'FU.Proficiencies.shield'}}"></i>{{/if}}
				</p>
				<span>
					{{localize "FU.UI.accuracy"}}: <b>[{{localize (concat "FU.Short."
						weapon.system.accuracy.mainStat)}}+{{localize (concat "FU.Short."
						weapon.system.accuracy.secondaryStat)}}]+{{weapon.system.accuracy.bonus}}</b>
				</span>
				<p>{{localize "FU.UI.damage"}}: <b>[{{localize
						"FU.Short.highRoll"}}+{{weapon.system.damage.bonus}}]</b>
				</p>
			</div>
			<div class="flexcol button-holder">
				<button class="item-roll fabula-button" {{#unless weapon.system.isEquipped}} disabled{{/unless}}><i
						class="fas fa-solid fa-dice"></i> {{localize "FU.UI.attack"}}</button>
				<button class="item-edit fabula-button"><i class="fas fa-solid fa-pencil"></i> {{localize
					"FU.UI.edit"}}</button>
				<button class="item-delete fabula-button"><i class="fas fa-solid fa-trash"></i> {{localize
					"FU.UI.delete"}}</button>
			</div>
		</div>
	</div>
</div>