<div class="dice-roll">
	<div class="dice-result">
		{{#if fumble}}
		<div class="dice-formula fumble"><i class="fas fa-solid fa-triangle-exclamation"></i> {{localize
			"FU.Chat.fumble"}} <i class="fas fa-solid fa-triangle-exclamation"></i></div>
		{{else if crit}}
		<div class="dice-formula critical"><i class="fas fa-duotone fa-sparkles"></i> {{localize "FU.Chat.critical"}} <i
				class="fas fa-duotone fa-sparkles"></i></div>
		{{/if}}
		{{#unless fumble}}
		<div class="dice-tooltip">
			<section class="tooltip-part">
				<div class="dice">
					{{#each members as |m ind|}}
					<p>{{ind}}: {{#if m.pass}}{{localize "FU.Group.pass"}}{{else}}{{localize "FU.Group.fail"}}{{/if}}
						({{m.total}})</p>
					<ol class="dice-rolls">
						{{#each m.rollObj.terms as |r|}}
						<li class="roll die d{{r.faces}}">{{r.results.0.result}}</li>
						{{/each}}
					</ol>
					{{/each}}
					<h3>{{localize "FU.Group.leader"}}</h3>
					<ol class="dice-rolls">
						{{#each leader.rollObj.terms as |r|}}
						<li class="roll die d{{r.faces}}">{{r.results.0.result}}</li>
						{{/each}}
					</ol>
					<p>{{localize "FU.UI.bonus"}}: +{{leader.successBonus}}</p>
				</div>
			</section>
		</div>
		{{#unless crit}}
		<h4 class="dice-total">{{total}}</h4>
		{{/unless}}
		{{/unless}}
	</div>
</div>