<div class="dice-roll">
    <div class="dice-result">
        <div class="dice-formula">{{#if fumble}}{{localize "FU.Chat.fumble"}}{{else if
            crit
            }}{{localize "FU.Chat.critical"}}{{/if}}</div>
        <div class="dice-tooltip">
            <section class="tooltip-part">
                <div class="dice">
                    <p class="part-formula">{{roll.formula}}
                        =
                        <span class="part-total">{{roll.total}}</span>
                    </p>
                    <ol class="dice-rolls">
                        {{#each roll.terms as |r|}}
                        <li class="roll die d{{r.faces}}">{{r.results.0.result}}</li>
                        {{/each}}
                    </ol>
                </div>
            </section>
        </div>
        <h4 class="dice-total"><img src="{{getElementalIcon 'air'}}" class="damage-type air" />{{roll.total}}</h4>
    </div>
</div>