<div class="dice-roll">
	<div class="dice-result">
		{{#if fumble}}
		<div class="dice-formula fumble">{{localize "FU.Chat.fumble"}}</div>
		{{else if crit}}
		<div class="dice-formula critical">{{localize "FU.Chat.critical"}}</div>
		{{/if}}
		{{#unless fumble}}
		<div class="dice-tooltip">
			<section class="tooltip-part">
				<div class="dice">
					<ol class="dice-rolls">
						{{#each roll.terms as |r|}}
						<li class="roll die d{{r.faces}}">{{r.results.0.result}}</li>
						{{/each}}
					</ol>
					<p class="part-formula">{{roll.formula}}</p>
				</div>
			</section>
		</div>
		{{#unless crit}}
		<h4 class="dice-total">{{total}}</h4>
		{{/unless}}
		{{/unless}}
	</div>
</div>