<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header flexcol">
        <div class="header-fields">
            <div class="flexrow">
                <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
                <h1><input name="name" type="text" data-dtype="String" value="{{actor.name}}" /></h1>
            </div>

            <div class="resources grid grid-3col">
                <div class="flexrow">
                    {{> "systems/fabulaultima/templates/actor/partials/resource-card.hbs" r="hp" title=(localize
                    'FU.Resources.hp') icon="fas fa-solid fa-heart" crisis=actor.system.hp.crisis
                    inputName="system.hp.value" rValue=actor.system.hp.value rMax=actor.system.hp.max}}
                    {{> "systems/fabulaultima/templates/actor/partials/resource-card.hbs" r="mp" title=(localize
                    'FU.Resources.mp') icon="fas fa-solid fa-sparkles" inputName="system.mp.value"
                    rValue=actor.system.mp.value rMax=actor.system.mp.max}}
                    {{> "systems/fabulaultima/templates/actor/partials/resource-card.hbs" r="ip" title=(localize
                    'FU.Resources.ip') icon="fas fa-solid fa-bag-shopping" inputName="system.ip.value"
                    rValue=actor.system.ip.value rMax=actor.system.ip.max}}
                </div>

                <div class="flexrow">
                    <span class="fabula">
                        <label for="system.fabulaPoints" title="{{localize 'FU.Resources.fp'}}">
                            <i class="fas fa-solid fa-feather"></i>
                            FP:
                        </label>
                        <input name="system.fabulaPoints" type="text" data-dtype="Number"
                            value="{{actor.system.fabulaPoints}}" />
                    </span>
                    <span class="experience">
                        <label for="system.experiencePoints" title="{{localize 'FU.Resources.xp'}}">
                            <i class="fas fa-solid fa-arrow-trend-up"></i>
                            XP:
                        </label>
                        <input name="system.experiencePoints" type="text" data-dtype="Number"
                            value="{{actor.system.experiencePoints}}" />
                    </span>
                    <span class="initiative"><i class="fas fa-solid fa-person-running"></i>{{localize
                        "FU.Attributes.initiative"}}:
                        {{actor.system.initiativeMod}}</span>
                </div>
            </div>
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="attributes"><i class="fas fa-solid fa-person"></i>
            {{localize "FU.Attributes.name"}}</a>
        <a class="item" data-tab="classes"><i class="fas fa-solid fa-hat-wizard"></i>
            {{localize "FU.Classes.plural"}}</a>
        <a class="item" data-tab="backpack"><i class="fas fa-solid fa-backpack"></i>
            {{localize "FU.Navigation.tabGear"}}</a>
        <a class="item" data-tab="spells"><i class="fas fa-solid fa-book"></i>
            {{localize "FU.Spells.name"}}</a>
        <a class="item" data-tab="bio"><i class="fas fa-solid fa-message"></i>
            {{localize "FU.Bio.name"}}</a>
    </nav>

    <section class="sheet-body">
        {{!-- Attributes --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <div class="flexcol attributes">
                <h2>{{localize "FU.Attributes.name"}}</h2>
                <div class="grid grid-4col">
                    <div class="flexrow">
                        {{#each actor.system.attributes as |attribute key|}}
                        <div class="flexcol attr">
                            <label for="system.attributes.{{key}}.base">
                                {{#if_eq key "dexterity"}}
                                <i class="fas fa-solid fa-person-running"></i>
                                {{/if_eq}}
                                {{#if_eq key "insight"}}
                                <i class="fas fa-solid fa-head-side-brain"></i>
                                {{/if_eq}}
                                {{#if_eq key "might"}}
                                <i class="fas fa-solid fa-dumbbell"></i>
                                {{/if_eq}}
                                {{#if_eq key "willpower"}}
                                <i class="fas fa-solid fa-people-group"></i>
                                {{/if_eq}}
                                {{localize (concat "FU.Attributes." key)}}
                            </label>
                            {{> "systems/fabulaultima/templates/actor/partials/attribute-dropdown.hbs" stat=key
                            obj=attribute}}
                        </div>
                        {{/each}}
                    </div>
                </div>
                <h2>{{localize "FU.UI.defenses"}}</h2>
                <div class="grid grid-2col defenses">
                    <div class="flexrow">
                        <p class="defense"><i class="fas fa-solid fa-shield"></i> {{localize
                            "FU.Attributes.defense"}}:
                            {{actor.system.defenses.physical.value}}</p>
                        <p class="mdefense"><i class="fas fa-solid fa-circle-nodes"></i> {{localize
                            "FU.Attributes.magicDefense"}}:
                            {{actor.system.defenses.magic.value}}</p>
                    </div>
                </div>
                <h3>{{localize "FU.Resistances.name"}}</h3>
                <div class="grid grid-3col resistances">
                    <div class="flexrow">
                        <div class="flexcol element-resistance">
                            <label for="system.resistances.air"><img src="{{getElementalIcon 'air'}}"
                                    title="{{localize 'FU.Elements.air'}}" /></label>
                            {{> "systems/fabulaultima/templates/actor/partials/resistance-dropdown.hbs"
                            selectName="system.resistances.air" current=actor.system.resistances.air}}
                        </div>
                        <div class="flexcol element-resistance">
                            <label for="system.resistances.bolt"><img src="{{getElementalIcon 'bolt'}}"
                                    title="{{localize 'FU.Elements.bolt'}}" /></label>
                            {{> "systems/fabulaultima/templates/actor/partials/resistance-dropdown.hbs"
                            selectName="system.resistances.bolt" current=actor.system.resistances.bolt}}
                        </div>
                        <div class="flexcol element-resistance">
                            <label for="system.resistances.dark"><img src="{{getElementalIcon 'dark'}}"
                                    title="{{localize 'FU.Elements.dark'}}" /></label>
                            {{> "systems/fabulaultima/templates/actor/partials/resistance-dropdown.hbs"
                            selectName="system.resistances.dark" current=actor.system.resistances.dark}}
                        </div>
                    </div>
                    <div class="flexrow">
                        <div class="flexcol element-resistance">
                            <label for="system.resistances.earth"><img src="{{getElementalIcon 'earth'}}"
                                    title="{{localize 'FU.Elements.earth'}}" /></label>
                            {{> "systems/fabulaultima/templates/actor/partials/resistance-dropdown.hbs"
                            selectName="system.resistances.earth" current=actor.system.resistances.earth}}
                        </div>
                        <div class="flexcol element-resistance">
                            <label for="system.resistances.fire"><img src="{{getElementalIcon 'fire'}}"
                                    title="{{localize 'FU.Elements.fire'}}" /></label>
                            {{> "systems/fabulaultima/templates/actor/partials/resistance-dropdown.hbs"
                            selectName="system.resistances.fire" current=actor.system.resistances.fire}}
                        </div>
                        <div class="flexcol element-resistance">
                            <label for="system.resistances.ice"><img src="{{getElementalIcon 'ice'}}"
                                    title="{{localize 'FU.Elements.ice'}}" /></label>
                            {{> "systems/fabulaultima/templates/actor/partials/resistance-dropdown.hbs"
                            selectName="system.resistances.ice" current=actor.system.resistances.ice}}
                        </div>
                    </div>
                    <div class="flexrow">
                        <div class="flexcol element-resistance">
                            <label for="system.resistances.light"><img src="{{getElementalIcon 'light'}}"
                                    title="{{localize 'FU.Elements.light'}}" /></label>
                            {{> "systems/fabulaultima/templates/actor/partials/resistance-dropdown.hbs"
                            selectName="system.resistances.light" current=actor.system.resistances.light}}
                        </div>
                        <div class="flexcol element-resistance">
                            <label for="system.resistances.physical"><img src="{{getElementalIcon 'physical'}}"
                                    title="{{localize 'FU.Elements.physical'}}" /></label>
                            {{> "systems/fabulaultima/templates/actor/partials/resistance-dropdown.hbs"
                            selectName="system.resistances.physical"
                            current=actor.system.resistances.physical}}
                        </div>
                        <div class="flexcol element-resistance">
                            <label for="system.resistances.poison"><img src="{{getElementalIcon 'poison'}}"
                                    title="{{localize 'FU.Elements.poison'}}" /></label>
                            {{> "systems/fabulaultima/templates/actor/partials/resistance-dropdown.hbs"
                            selectName="system.resistances.poison" current=actor.system.resistances.poison}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{!-- Classes --}}
        <div class="tab classes" data-group="primary" data-tab="classes">
            <h2 style="text-align: center">{{localize "FU.UI.characterLevel"}}: {{actor.system.characterLevel}}</h2>
            <div class="flexcol item-list">
                {{#each actor.system.classes as |item|}}
                <div class="item" data-item-id="{{item._id}}">
                    {{> "systems/fabulaultima/templates/actor/partials/class-card.hbs" class=item}}
                </div>
                {{/each}}
            </div>
        </div>
        </div>

        {{!-- Equipment --}}
        <div class="tab backpack" data-group="primary" data-tab="backpack">
            <div class="flexcol">
                <h2>Weapons</h2>
                <div class="item-list">
                    {{#each actor.system.weapons as |item ind|}}
                    <div class="item" data-item-id="{{item._id}}">
                        {{> "systems/fabulaultima/templates/actor/partials/weapon-card.hbs" weapon=item}}
                    </div>
                    {{/each}}
                </div>
            </div>
            <h2>Armor</h2>
            <h2>Gear</h2>
            <span class="currency">
                <i class="fas fa-duotone fa-coins"></i>{{localize "FU.Resources.currency"}}:
                <input type="text" name="system.zenit" data-dtype="Number" value="{{actor.system.zenit}}" />
            </span>
        </div>

        {{!-- Spells --}}
        <div class="tab spells" data-group="primary" data-tab="spells">
            <p>Spells go here</p>
        </div>

        {{!-- Bio and Bonds --}}
        <div class="tab bio" data-group="primary" data-tab="bio">
            <div class="flexrow">
                <label for="pronouns">{{localize "FU.Bio.pronouns"}}</label>
                <input name="system.pronouns" type="text" data-dtype="String" value="{{actor.system.pronouns}}" />
            </div>
            <div class="trait-labels flexrow">
                <label for="identity">{{localize "FU.Traits.identity"}}</label>
                <label for="theme">{{localize "FU.Traits.theme"}}</label>
                <label for="origin">{{localize "FU.Traits.origin"}}</label>
            </div>
            <div class="flexrow">
                <input class="identity" name="system.identity" type="text" data-dtype="String"
                    value="{{actor.system.identity}}" />
                <input class="theme" name="system.theme" type="text" data-dtype="String"
                    value="{{actor.system.theme}}" />
                <input class="origin" name="system.origin" type="text" data-dtype="String"
                    value="{{actor.system.origin}}" />
            </div>
            <h2>Bonds</h2>
            <div class="bonds">
                <p>Bonds go here</p>
            </div>
        </div>
    </section>
</form>