<form class="{{cssClass}} character-sheet" autocomplete="off">
    <header class="sheet-header flexcol">
        <div class="header-fields">
            <div class="flexrow">
                <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
                <h1 class="character-name"><input name="name" type="text" data-dtype="String" value="{{actor.name}}" />
                </h1>
            </div>

            {{!-- Resources --}}
            <div class="grid grid-3col">
                <div class="flexrow">
                    {{> "systems/fabulaultima/templates/actor/partials/resource-card.hbs" r="hp" title=(localize
                    'FU.Resources.hp') icon="fas fa-solid fa-heart" crisis=actor.system.hp.crisis
                    inputName="system.hp.value" rValue=actor.system.hp.value rMax=actor.system.hp.max}}
                    {{> "systems/fabulaultima/templates/actor/partials/resource-card.hbs" r="mp" title=(localize
                    'FU.Resources.mp') icon="fas fa-solid fa-sparkles" inputName="system.mp.value"
                    rValue=actor.system.mp.value rMax=actor.system.mp.max}}
                    {{> "systems/fabulaultima/templates/actor/partials/resource-card.hbs" r="ip" title=(localize
                    'FU.Resources.ip') icon="fas fa-solid fa-bag-shopping" inputName="system.ip.value"
                    rValue=actor.system.ip.value rMax=actor.system.ip.max}}
                </div>

                <div class="flexrow">
                    <span class="fabula">
                        <label for="system.fabulaPoints" title="{{localize 'FU.Resources.fp'}}">
                            <i class="fas fa-solid fa-feather"></i>
                            FP:
                        </label>
                        <input name="system.fabulaPoints" type="text" data-dtype="Number"
                            value="{{actor.system.fabulaPoints}}" />
                    </span>
                    <span class="experience">
                        <label for="system.experiencePoints" title="{{localize 'FU.Resources.xp'}}">
                            <i class="fas fa-solid fa-arrow-trend-up"></i>
                            XP:
                        </label>
                        <input name="system.experiencePoints" type="text" data-dtype="Number"
                            value="{{actor.system.experiencePoints}}" />
                    </span>
                    <span class="initiative"><i class="fas fa-solid fa-person-running"></i> {{localize
                        "FU.Attributes.initiative"}}:
                        {{actor.system.initiativeMod}}</span>
                </div>
            </div>

            {{!-- Status Conditions --}}
            <div class="grid grid-6col">
                <div class="flexrow conditions">
                    <img class="condition-icon {{#unless actor.system.statuses.dazed.immune}} {{#if actor.system.statuses.dazed.active}}active{{/if}}{{else}}immune{{/unless}}"
                        src="systems/fabulaultima/assets/ui/knocked-out-stars.svg"
                        title="{{localize 'FU.Status.dazed'}}" data-condition="dazed" />
                    <img class="condition-icon {{#unless actor.system.statuses.enraged.immune}} {{#if actor.system.statuses.enraged.active}}active{{/if}}{{else}}immune{{/unless}}"
                        src="systems/fabulaultima/assets/ui/enrage.svg" title="{{localize 'FU.Status.enraged'}}"
                        data-condition="enraged" />
                    <img class="condition-icon {{#unless actor.system.statuses.poisoned.immune}} {{#if actor.system.statuses.poisoned.active}}active{{/if}}{{else}}immune{{/unless}}"
                        src="systems/fabulaultima/assets/ui/poison-bottle.svg" title="{{localize 'FU.Status.poisoned'}}"
                        data-condition="poisoned" />
                    <img class="condition-icon {{#unless actor.system.statuses.shaken.immune}} {{#if actor.system.statuses.shaken.active}}active{{/if}}{{else}}immune{{/unless}}"
                        src="systems/fabulaultima/assets/ui/terror.svg" title="{{localize 'FU.Status.dazed'}}"
                        data-condition="shaken" />
                    <img class="condition-icon {{#unless actor.system.statuses.slow.immune}} {{#if actor.system.statuses.slow.active}}active{{/if}}{{else}}immune{{/unless}}"
                        src="systems/fabulaultima/assets/ui/tortoise.svg" title="{{localize 'FU.Status.slow'}}"
                        data-condition="slow" />
                    <img class="condition-icon {{#unless actor.system.statuses.weak.immune}} {{#if actor.system.weak.enraged.active}}active{{/if}}{{else}}immune{{/unless}}"
                        src="systems/fabulaultima/assets/ui/back-pain.svg" title="{{localize 'FU.Status.weak'}}"
                        data-condition="weak" />
                </div>
            </div>
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="rolls"><i class="fas fa-solid fa-dice-d20"></i> {{localize "FU.UI.roll"}}</a>
        <a class="item" data-tab="attributes"><i class="fas fa-solid fa-person"></i>
            {{localize "FU.Attributes.name"}}</a>
        <a class="item" data-tab="classes"><i class="fas fa-solid fa-hat-wizard"></i>
            {{localize "FU.Classes.plural"}}</a>
        <a class="item" data-tab="backpack"><i class="fas fa-solid fa-backpack"></i>
            {{localize "FU.Navigation.tabGear"}}</a>
        <a class="item" data-tab="skills"><i class="fas fa-solid fa-paintbrush"></i> {{localize "FU.Plural.skill"}}</a>
        <a class="item" data-tab="spells"><i class="fas fa-solid fa-book"></i>
            {{localize "FU.Spells.name"}}</a>
        <a class="item" data-tab="bio"><i class="fas fa-solid fa-message"></i>
            {{localize "FU.Bio.name"}}</a>
    </nav>

    <section class="sheet-body">
        {{!-- Rolls --}}
        <div class="tab rolls" data-group="primary" data-tab="rolls">
            <div class="grid grid-4col">
                <div class="flexrow">
                    <label for="attributeOne">{{localize "FU.Attributes.main"}}</label>
                    <label for="attributeTwo">{{localize "FU.Attributes.secondary"}}</label>
                    <label for="skill-bonus">{{localize "FU.UI.bonus"}}</label>
                    <span></span>
                </div>
                <div class="flexrow skill-roll-container">
                    {{> "systems/fabulaultima/templates/item/partials/attribute-dropdown.hbs"
                    className="attributeOne" selectName="attributeOne"}}
                    {{> "systems/fabulaultima/templates/item/partials/attribute-dropdown.hbs"
                    className="attributeTwo" selectName="attributeTwo"}}
                    <input id="skill-bonus" type="text" data-dtype="Number" />
                    <button class="fabula-button skill-roll"><i class="fas fa-solid fa-dice"></i> {{localize
                        "FU.UI.roll"}}</button>
                </div>
            </div>
        </div>

        {{!-- Attributes --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <div class="flexcol attributes">
                <h2>{{localize "FU.Attributes.name"}}</h2>
                <div class="grid grid-4col">
                    <div class="flexrow">
                        {{#each actor.system.attributes as |attribute key|}}
                        <div class="flexcol attr">
                            <label for="system.attributes.{{key}}.base">
                                {{#if_eq key "dexterity"}}
                                <i class="fas fa-solid fa-person-running"></i>
                                {{/if_eq}}
                                {{#if_eq key "insight"}}
                                <i class="fas fa-solid fa-head-side-brain"></i>
                                {{/if_eq}}
                                {{#if_eq key "might"}}
                                <i class="fas fa-solid fa-dumbbell"></i>
                                {{/if_eq}}
                                {{#if_eq key "willpower"}}
                                <i class="fas fa-solid fa-people-group"></i>
                                {{/if_eq}}
                                {{localize (concat "FU.Attributes." key)}}
                            </label>
                            {{> "systems/fabulaultima/templates/actor/partials/attribute-dropdown.hbs" stat=key
                            obj=attribute}}
                        </div>
                        {{/each}}
                    </div>
                </div>
                <h2>{{localize "FU.UI.defenses"}}</h2>
                <div class="grid grid-2col defenses">
                    <div class="flexrow">
                        <p class="defense"><i class="fas fa-solid fa-shield"></i> {{localize
                            "FU.Attributes.defense"}}:
                            {{actor.system.defenses.physical.value}}</p>
                        <p class="mdefense"><i class="fas fa-solid fa-circle-nodes"></i> {{localize
                            "FU.Attributes.magicDefense"}}:
                            {{actor.system.defenses.magic.value}}</p>
                    </div>
                </div>
                <h3>{{localize "FU.Resistances.name"}}</h3>
                <div class="grid grid-3col resistances">
                    <div class="flexrow">
                        <div class="flexcol element-resistance">
                            <label for="system.resistances.air"><img src="{{getElementalIcon 'air'}}"
                                    title="{{localize 'FU.Elements.air'}}" /></label>
                            {{> "systems/fabulaultima/templates/actor/partials/resistance-dropdown.hbs"
                            selectName="system.resistances.air" current=actor.system.resistances.air}}
                        </div>
                        <div class="flexcol element-resistance">
                            <label for="system.resistances.bolt"><img src="{{getElementalIcon 'bolt'}}"
                                    title="{{localize 'FU.Elements.bolt'}}" /></label>
                            {{> "systems/fabulaultima/templates/actor/partials/resistance-dropdown.hbs"
                            selectName="system.resistances.bolt" current=actor.system.resistances.bolt}}
                        </div>
                        <div class="flexcol element-resistance">
                            <label for="system.resistances.dark"><img src="{{getElementalIcon 'dark'}}"
                                    title="{{localize 'FU.Elements.dark'}}" /></label>
                            {{> "systems/fabulaultima/templates/actor/partials/resistance-dropdown.hbs"
                            selectName="system.resistances.dark" current=actor.system.resistances.dark}}
                        </div>
                    </div>
                    <div class="flexrow">
                        <div class="flexcol element-resistance">
                            <label for="system.resistances.earth"><img src="{{getElementalIcon 'earth'}}"
                                    title="{{localize 'FU.Elements.earth'}}" /></label>
                            {{> "systems/fabulaultima/templates/actor/partials/resistance-dropdown.hbs"
                            selectName="system.resistances.earth" current=actor.system.resistances.earth}}
                        </div>
                        <div class="flexcol element-resistance">
                            <label for="system.resistances.fire"><img src="{{getElementalIcon 'fire'}}"
                                    title="{{localize 'FU.Elements.fire'}}" /></label>
                            {{> "systems/fabulaultima/templates/actor/partials/resistance-dropdown.hbs"
                            selectName="system.resistances.fire" current=actor.system.resistances.fire}}
                        </div>
                        <div class="flexcol element-resistance">
                            <label for="system.resistances.ice"><img src="{{getElementalIcon 'ice'}}"
                                    title="{{localize 'FU.Elements.ice'}}" /></label>
                            {{> "systems/fabulaultima/templates/actor/partials/resistance-dropdown.hbs"
                            selectName="system.resistances.ice" current=actor.system.resistances.ice}}
                        </div>
                    </div>
                    <div class="flexrow">
                        <div class="flexcol element-resistance">
                            <label for="system.resistances.light"><img src="{{getElementalIcon 'light'}}"
                                    title="{{localize 'FU.Elements.light'}}" /></label>
                            {{> "systems/fabulaultima/templates/actor/partials/resistance-dropdown.hbs"
                            selectName="system.resistances.light" current=actor.system.resistances.light}}
                        </div>
                        <div class="flexcol element-resistance">
                            <label for="system.resistances.physical"><img src="{{getElementalIcon 'physical'}}"
                                    title="{{localize 'FU.Elements.physical'}}" /></label>
                            {{> "systems/fabulaultima/templates/actor/partials/resistance-dropdown.hbs"
                            selectName="system.resistances.physical"
                            current=actor.system.resistances.physical}}
                        </div>
                        <div class="flexcol element-resistance">
                            <label for="system.resistances.poison"><img src="{{getElementalIcon 'poison'}}"
                                    title="{{localize 'FU.Elements.poison'}}" /></label>
                            {{> "systems/fabulaultima/templates/actor/partials/resistance-dropdown.hbs"
                            selectName="system.resistances.poison" current=actor.system.resistances.poison}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{!-- Classes --}}
        <div class="tab classes" data-group="primary" data-tab="classes">
            <h2>{{localize "FU.Proficiencies.name"}}</h2>
            <div class="flexrow martial-proficiencies">
                <i class="fas fa-solid fa-sword {{#if actor.system.martial.melee}}martial{{/if}}"
                    title="{{localize 'FU.Proficiencies.melee'}}"></i>
                <i class="fas fa-solid fa-bow-arrow {{#if actor.system.martial.ranged}}martial{{/if}}"
                    title="{{localize 'FU.Proficiencies.ranged'}}"></i>
                <i class="fas fa-solid fa-helmet-battle {{#if actor.system.martial.armor}}martial{{/if}}"
                    title="{{localize 'FU.Proficiencies.armor'}}"></i>
                <i class="fas fa-solid fa-shield {{#if actor.system.martial.shields}}martial{{/if}}"
                    title="{{localize 'FU.Proficiencies.shields'}}"></i>
            </div>
            <div class="flexrow rituals">
                <i class="fas fa-solid fa-candle-holder {{#if actor.system.rituals.arcanism}}active{{/if}}"
                    title="{{localize 'FU.Rituals.arcanism'}}"></i>
                <i class="fas fa-solid fa-paw-claws {{#if actor.system.rituals.chimerism}}active{{/if}}"
                    title="{{localize 'FU.Rituals.chimerism'}}"></i>
                <i class="fas fa-solid fa-fire {{#if actor.system.rituals.elementalism}}active{{/if}}"
                    title="{{localize 'FU.Rituals.elementalism'}}"></i>
                <i class="fas fa-solid fa-atom-simple {{#if actor.system.rituals.entropism}}active{{/if}}"
                    title="{{localize 'FU.Rituals.entropism'}}"></i>
                <i class="fas fa-solid fa-circle-nodes {{#if actor.system.rituals.ritualism}}active{{/if}}"
                    title="{{localize 'FU.Rituals.ritualism'}}"></i>
                <i class="fas fa-solid fa-staff {{#if actor.system.rituals.spiritism}}active{{/if}}"
                    title="{{localize 'FU.Rituals.spiritism'}}"></i>
            </div>
            <h2>
                {{localize "FU.UI.characterLevel"}}: {{actor.system.characterLevel}}
                <i class="fas fa-solid fa-book-atlas open-compendium" data-compendium="classes"
                    title="{{localize 'FU.UI.openCompendium'}}"></i>
            </h2>
            <div class="flexcol item-list">
                {{#each actor.system.classes as |item|}}
                <div class="item" data-item-id="{{item._id}}">
                    {{> "systems/fabulaultima/templates/actor/partials/class-card.hbs" class=item}}
                </div>
                {{/each}}
            </div>
        </div>
        </div>

        {{!-- Equipment --}}
        <div class="tab backpack" data-group="primary" data-tab="backpack">
            <span class="currency">
                <i class="fas fa-duotone fa-coins"></i>{{localize "FU.Resources.currency"}}:
                <input type="text" name="system.zenit" data-dtype="Number" value="{{actor.system.zenit}}" />
            </span>
            {{!-- Weapons --}}
            <h2>
                {{localize "FU.Items.Types.weapon"}}
                <i class="fas fa-solid fa-book-atlas open-compendium" data-compendium="weapons"
                    title="{{localize 'FU.UI.openCompendium'}}"></i>
            </h2>
            <div class="flexcol">
                <div class="item-list">
                    {{#each actor.system.weapons as |item|}}
                    <div class="item" data-item-id="{{item._id}}">
                        {{> "systems/fabulaultima/templates/actor/partials/weapon-card.hbs" weapon=item}}
                    </div>
                    {{/each}}
                </div>
            </div>
            {{!-- Armor --}}
            <h2>
                {{localize "FU.Items.Types.armor"}}
                <i class="fas fa-solid fa-book-atlas open-compendium" data-compendium="armor"
                    title="{{localize 'FU.UI.openCompendium'}}"></i>
            </h2>
            <div class="flexcol armor">
                <div class="item-list">
                    <div class="grid grid-6col">
                        {{#each actor.system.armor as |item|}}
                        <div class="flexrow armor-card item" data-item-id="{{item._id}}">
                            {{> "systems/fabulaultima/templates/actor/partials/armor-card.hbs" armor=item}}
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            {{!-- Accessories --}}
            <h3>
                {{localize "FU.Plural.accessory"}}
                <i class="fas fa-solid fa-book-atlas open-compendium" data-compendium="accessory"
                    title="{{localize 'FU.UI.openCompendium'}}"></i>
            </h3>
            <div class="flexcol accessories">
                <div class="item-list">
                    <div class="grid grid-4col">
                        {{#each actor.system.accessories as |item|}}
                        <div class="flexrow accessory-card item" data-item-id="{{item._id}}">
                            {{> "systems/fabulaultima/templates/actor/partials/accessory-card.hbs" acc=item}}
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            {{!-- Items --}}
            <h2>
                {{localize "FU.Items.name"}} <i class="fas fa-solid fa-book-atlas open-compendium"
                    data-compendium="consumables" title="{{localize 'FU.UI.openCompendium'}}"></i>
            </h2>
            <div class="flexcol">
                <div class="grid grid-4col">
                    {{#each actor.system.consumables as |item|}}
                    <div class="flexrow consumable-card" data-item-id="{{item._id}}">
                        <img src="{{item.img}}" class="item-icon">
                        <p>{{item.name}}</p>
                        <p>{{item.system.ipCost}} IP</p>
                        <p>{{localize (concat "FU.Items.Blurbs." item.system.internalName)}}</p>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

        {{!-- Skills --}}
        <div class="tab skills" data-group="primary" data-tab="skills">
            <h2>
                {{localize "FU.Plural.skill"}}
                <i class="fas fa-solid fa-book-atlas open-compendium" data-compendium="skill"
                    title="{{localize 'FU.UI.openCompendium'}}"></i>
            </h2>
            <div class="flexcol skills">
                <div class="item-list">
                    {{#each actor.system.skills as |item|}}
                    <div class="item" data-item-id="{{item._id}}">
                        {{> "systems/fabulaultima/templates/actor/partials/skill-card.hbs" skill=item}}
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

        {{!-- Spells --}}
        <div class="tab spells" data-group="primary" data-tab="spells">
            <h2>
                {{localize "FU.Spells.name"}}
                <i class="fas fa-solid fa-book-atlas open-compendium" data-compendium="spell"
                    title="{{localize 'FU.UI.openCompendium'}}"></i>
            </h2>
            <div class="flexcol spells">
                <div class="item-list">
                    {{#each actor.system.spells as |item|}}
                    <div class="item" data-item-id="{{item._id}}">
                        {{> "systems/fabulaultima/templates/actor/partials/spell-card.hbs" spell=item}}
                    </div>
                    {{/each}}
                </div>
            </div>
            {{#if actor.system.canSummon}}
            <div class="flexcol arcanum">
                <h2>{{localize "FU.Plural.arcanum"}}</h2>
                <div class="item-list">
                    {{#each actor.system.arcanum as |item|}}
                    <div class="item arcana-card" data-item-id="{{item._id}}">
                        <div class="grid grid-4col">
                            <div class="flexrow">
                                {{> "systems/fabulaultima/templates/actor/partials/arcana-card.hbs" arcana=item}}
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{/if}}
        </div>

        {{!-- Bio --}}
        <div class="tab bio" data-group="primary" data-tab="bio">
            <div class="flexcol pronouns">
                <label for="pronouns" class="trait-labels">{{localize "FU.Bio.pronouns"}}</label>
                <input name="system.pronouns" type="text" data-dtype="String" value="{{actor.system.pronouns}}" />
            </div>
            <div class="trait-labels flexrow">
                <label for="identity">{{localize "FU.Traits.identity"}}</label>
                <label for="theme">{{localize "FU.Traits.theme"}}</label>
                <label for="origin">{{localize "FU.Traits.origin"}}</label>
            </div>
            <div class="flexrow">
                <input class="identity" name="system.identity" type="text" data-dtype="String"
                    value="{{actor.system.identity}}" />
                <input class="theme" name="system.theme" type="text" data-dtype="String"
                    value="{{actor.system.theme}}" />
                <input class="origin" name="system.origin" type="text" data-dtype="String"
                    value="{{actor.system.origin}}" />
            </div>
            {{!-- Bonds --}}
            <h2 class="bonds-start">
                {{localize "FU.Bonds.name"}}
                <button class="fabula-button item-create" data-type="bond"><i class="fas fa-solid fa-plus"></i></button>
            </h2>
            <div class="item-list bonds">
                {{#each actor.system.bonds as |item|}}
                <div class="item" data-item-id="{{item._id}}">
                    {{> "systems/fabulaultima/templates/actor/partials/bond-card.hbs" bond=item}}
                </div>
                {{/each}}
            </div>
            <h2>{{localize "FU.UI.notes"}}</h2>
            <div class="editor-host">
                {{editor enrichedNotes target="system.notes" button=true owner=owner
                editable=editable}}
            </div>
        </div>
    </section>
</form>