<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header flexcol">
        <div class="header-fields">
            <div class="flexrow">
                <img
                    class="profile-img"
                    src="{{actor.img}}"
                    data-edit="img"
                    title="{{actor.name}}"
                    height="250"
                    width="200"
                />
                <label for="charname">{{localize "FU.Bio.nameLabel"}}</label>
                <input name="name" type="text" data-dtype="String" value="{{actor.name}}" />
                <label for="pronouns">{{localize "FU.Bio.pronouns"}}</label>
                <input
                    name="system.pronouns"
                    type="text"
                    data-dtype="String"
                    value="{{actor.system.pronouns}}"
                />
            </div>

            <div class="resources grid grid-3col">
                <div class="flexrow">
                    {{> "systems/fabulaultima/templates/actor/resource-card.hbs" r="hp" title=(localize 'FU.Resources.hp') icon="fas fa-solid fa-heart" crisis=actor.system.hp.crisis inputName="system.hp.value" rValue=actor.system.hp.value rMax=actor.system.hp.max}}
                    {{> "systems/fabulaultima/templates/actor/resource-card.hbs" r="mp" title=(localize 'FU.Resources.mp') icon="fas fa-solid fa-sparkles" inputName="system.mp.value" rValue=actor.system.mp.value rMax=actor.system.mp.max}}
                    {{> "systems/fabulaultima/templates/actor/resource-card.hbs" r="ip" title=(localize 'FU.Resources.ip') icon="fas fa-solid fa-bag-shopping" inputName="system.ip.value" rValue=actor.system.ip.value rMax=actor.system.ip.max}}
                </div>

                <div class="flexrow">
                    <span class="fabula">
                        <label for="system.fabulaPoints" title="{{localize 'FU.Resources.fp'}}">
                            <i class="fas fa-solid fa-feather"></i>
                            FP:
                        </label>
                        <input
                            name="system.fabulaPoints"
                            type="text"
                            data-dtype="Number"
                            value="{{actor.system.fabulaPoints}}"
                        />
                    </span>
                    <span class="experience">
                        <label for="system.experiencePoints" title="{{localize 'FU.Resources.xp'}}">
                            <i class="fas fa-solid fa-arrow-trend-up"></i>
                            XP:
                        </label>
                        <input
                            name="system.experiencePoints"
                            type="text"
                            data-dtype="Number"
                            value="{{actor.system.experiencePoints}}"
                        />
                    </span>
                </div>
            </div>
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="rolls"><i class="fas fa-solid fa-dice-d20"></i>
            {{localize "FU.Navigation.tabRolls"}}</a>
        <a class="item" data-tab="attributes"><i class="fas fa-solid fa-person"></i>
            {{localize "FU.Attributes.name"}}</a>
        <a class="item" data-tab="classes"><i class="fas fa-solid fa-hat-wizard"></i>
            {{localize "FU.Classes.plural"}}</a>
        <a class="item" data-tab="backpack"><i class="fas fa-solid fa-backpack"></i>
            {{localize "FU.Navigation.tabGear"}}</a>
        <a class="item" data-tab="spells"><i class="fas fa-solid fa-book"></i>
            {{localize "FU.Spells.name"}}</a>
        <a class="item" data-tab="bio"><i class="fas fa-solid fa-message"></i>
            {{localize "FU.Bio.name"}}</a>
    </nav>

    <section class="sheet-body">
        <div class="tab rolls" data-group="primary" data-tab="rolls">
            <p>Dice rolling stuff goes here.</p>
        </div>

        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <div class="grid grid-3-col">
                <div class="flexrow">
                    <span class="defense">{{localize "FU.Attributes.defense"}}:
                        {{system.defense}}</span>
                    <span class="mdefense">{{localize "FU.Attributes.magicDefense"}}:
                        {{system.magicDefense}}</span>
                    <span class="initiative">{{localize "FU.Attributes.initiative"}}:
                        {{system.initiativeMod}}</span>
                </div>
            </div>
            <div class="grid grid-4col">
                <div class="flexrow">
                    {{#each actor.system.attributes as |attribute key|}}
                        <label for="system.attributes.{{key}}.base">
                            {{#if_eq key "dexterity"}}
                                <i class="fas fa-solid fa-person-running"></i>
                            {{/if_eq}}
                            {{#if_eq key "insight"}}
                                <i class="fas fa-solid fa-head-side-brain"></i>
                            {{/if_eq}}
                            {{#if_eq key "might"}}
                                <i class="fas fa-solid fa-dumbbell"></i>
                            {{/if_eq}}
                            {{#if_eq key "willpower"}}
                                <i class="fas fa-solid fa-people-group"></i>
                            {{/if_eq}}
                            {{localize (concat "FU.Attributes." key)}}
                        </label>
                        {{> "systems/fabulaultima/templates/actor/attribute-dropdown.hbs" stat=key obj=attribute}}
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="tab classes" data-group="primary" data-tab="classes">
            <h2 style="text-align: center">Character Level: {{actor.system.characterLevel}}</h2>
            <div class="flexrow">
            {{#each system.classes as |klass key|}}
                {{> "systems/fabulaultima/templates/actor/class-card.hbs" className=key class=klass}}
            {{/each}}
            </div>
        </div>

        <div class="tab backpack" data-group="primary" data-tab="backpack">
            <span class="currency">
                <i class="fas fa-duotone fa-coins"></i>{{localize "FU.Resources.currency"}}:
                <input
                    type="text"
                    name="system.zenit"
                    data-dtype="Number"
                    value="{{actor.system.zenit}}"
                />
            </span>
            <p>Equipment goes here</p>
        </div>

        <div class="tab spells" data-group="primary" data-tab="spells">
            <p>Spells go here</p>
        </div>

        <div class="tab bio" data-group="primary" data-tab="bio">
            <div class="trait-labels flexrow">
                <label for="identity">{{localize "FU.Traits.identity"}}</label>
                <label for="theme">{{localize "FU.Traits.theme"}}</label>
                <label for="origin">{{localize "FU.Traits.origin"}}</label>
            </div>
            <div class="flexrow">
                <input
                    class="identity"
                    name="system.identity"
                    type="text"
                    data-dtype="String"
                    value="{{actor.system.identity}}"
                />
                <input
                    class="theme"
                    name="system.theme"
                    type="text"
                    data-dtype="String"
                    value="{{actor.system.theme}}"
                />
                <input
                    class="origin"
                    name="system.origin"
                    type="text"
                    data-dtype="String"
                    value="{{actor.system.origin}}"
                />
            </div>
            <h2>Bonds</h2>
            <div class="bonds">
                <p>Bonds go here</p>
            </div>
        </div>
    </section>
</form>