<form class="{{cssClass}} character-sheet" autocomplete="off" onkeydown="return event.key != 'Enter';">
    <header class="sheet-header flexcol">
        <div class="header-fields">
            <div class="flexrow">
                <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
                <h1 class="character-name"><input name="name" type="text" data-dtype="String" value="{{actor.name}}" />
                </h1>
            </div>

            {{!-- Resources --}}
            <div class="grid grid-3col">
                <div class="flexrow">
                    {{> "systems/fabulaultima/templates/actor/partials/resource-card.hbs" r=(localize
                    'FU.Short.hitPoints') title=(localize 'FU.Resources.hp') icon="fas fa-solid fa-heart"
                    crisis=actor.system.hp.crisis
                    inputName="system.hp.value" rValue=actor.system.hp.value rMax=actor.system.hp.max}}
                    {{> "systems/fabulaultima/templates/actor/partials/resource-card.hbs" r=(localize
                    'FU.Short.mindPoints')
                    title=(localize 'FU.Resources.mp') icon="fas fa-solid fa-sparkles"
                    inputName="system.mp.value"
                    rValue=actor.system.mp.value rMax=actor.system.mp.max}}
                    {{> "systems/fabulaultima/templates/actor/partials/resource-card.hbs" r=(localize
                    'FU.Short.inventoryPoints') title=(localize
                    'FU.Resources.ip') icon="fas fa-solid fa-bag-shopping" inputName="system.ip.value"
                    rValue=actor.system.ip.value rMax=actor.system.ip.max}}
                </div>
                {{#if actor.system.gp.enabled}}
                <div class="flexrow">
                    <span></span>
                    {{> "systems/fabulaultima/templates/actor/partials/resource-card.hbs" r=(localize
                    'FU.Short.gravePoints') title=(localize
                    'FU.Resources.gp') icon="fas fa-solid fa-tombstone-blank" inputName="system.gp.value"
                    rValue=actor.system.gp.value rMax=actor.system.gp.max}}
                    <span></span>
                </div>
                {{/if}}

                <div class="flexrow" style="text-align: center">
                    <p class="defense" title="{{localize 'FU.Attributes.defense'}}"><i
                            class="fas fa-solid fa-shield"></i> {{localize "FU.Short.defense"}}:
                        {{actor.system.defenses.physical.value}}</p>
                    <p class="mdefense" title="{{localize 'FU.Attributes.magicDefense'}}"><i
                            class="fas fa-solid fa-circle-nodes"></i> {{localize "FU.Short.magicDefense"}}:
                        {{actor.system.defenses.magic.value}}</p>
                    <span class="fabula">
                        <label for="system.fabulaPoints" title="{{localize 'FU.Resources.fp'}}">
                            <i class="fas fa-solid fa-feather"></i> {{localize "FU.Short.fabulaPoints"}}:
                        </label>
                        <input name="system.fabulaPoints" type="text" data-dtype="Number"
                            value="{{actor.system.fabulaPoints}}" />
                    </span>
                    <span class="experience">
                        <label for="system.experiencePoints" title="{{localize 'FU.Resources.xp'}}">
                            <i class="fas fa-solid fa-arrow-trend-up"></i> {{localize "FU.Short.experiencePoints"}}:
                        </label>
                        <input name="system.experiencePoints" type="text" data-dtype="Number"
                            value="{{actor.system.experiencePoints}}" />
                    </span>
                </div>
            </div>
            {{!-- Status Conditions --}}
            {{> "systems/fabulaultima/templates/actor/partials/conditions.hbs"}}
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="rolls"><i class="fas fa-solid fa-dice-d20"></i> {{localize "FU.UI.roll"}}</a>
        <a class="item" data-tab="attributes"><i class="fas fa-solid fa-person"></i>
            {{localize "FU.Attributes.name"}}</a>
        <a class="item" data-tab="classes"><i class="fas fa-solid fa-hat-wizard"></i>
            {{localize "FU.Classes.plural"}}</a>
        <a class="item" data-tab="backpack"><i class="fas fa-solid fa-backpack"></i>
            {{localize "FU.Navigation.tabGear"}}</a>
        <a class="item" data-tab="skills"><i class="fas fa-solid fa-paintbrush"></i> {{localize "FU.Plural.skill"}}</a>
        <a class="item" data-tab="spells"><i class="fas fa-solid fa-book"></i>
            {{localize "FU.Spells.name"}}</a>
        <a class="item" data-tab="bio"><i class="fas fa-solid fa-message"></i>
            {{localize "FU.Bio.name"}}</a>
        <a class="item" data-tab="effects"><i class="fa-solid fa-wand-magic-sparkles"></i> {{localize
            "FU.Items.effects"}}</a>
    </nav>

    <section class="sheet-body">
        {{!-- Rolls --}}
        {{> "systems/fabulaultima/templates/actor/partials/roll-tab.hbs"}}

        {{!-- Attributes --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <div class="flexcol attributes">
                <h2>{{localize "FU.Attributes.name"}}</h2>
                <div class="grid grid-4col">
                    <div class="flexrow">
                        {{#each actor.system.attributes as |attribute key|}}
                        <div class="flexcol attr">
                            <label for="system.attributes.{{key}}.base">
                                {{#if_eq key "dexterity"}}
                                <i class="fas fa-solid fa-person-running"></i>
                                {{/if_eq}}
                                {{#if_eq key "insight"}}
                                <i class="fas fa-solid fa-head-side-brain"></i>
                                {{/if_eq}}
                                {{#if_eq key "might"}}
                                <i class="fas fa-solid fa-dumbbell"></i>
                                {{/if_eq}}
                                {{#if_eq key "willpower"}}
                                <i class="fas fa-solid fa-people-group"></i>
                                {{/if_eq}}
                                {{localize (concat "FU.Attributes." key)}}
                            </label>
                            {{> "systems/fabulaultima/templates/actor/partials/attribute-dropdown.hbs" stat=key
                            obj=attribute}}
                        </div>
                        {{/each}}
                    </div>
                </div>
                <div class="flexrow">
                    <span class="player-initiative" title="{{localize 'FU.Attributes.initiative'}}"><i
                            class="fas fa-solid fa-person-running"></i> {{actor.system.initiativeMod}}</span>
                </div>
                {{> "systems/fabulaultima/templates/actor/partials/resistances.hbs"}}
            </div>
        </div>

        {{!-- Classes --}}
        <div class="tab classes" data-group="primary" data-tab="classes">
            <h2>{{localize "FU.Proficiencies.name"}}</h2>
            <div class="flexrow martial-proficiencies">
                <i class="fas fa-solid fa-sword {{#if actor.system.martial.melee}}martial{{/if}}"
                    title="{{localize 'FU.Proficiencies.melee'}}"></i>
                <i class="fas fa-solid fa-bow-arrow {{#if actor.system.martial.ranged}}martial{{/if}}"
                    title="{{localize 'FU.Proficiencies.ranged'}}"></i>
                <i class="fas fa-solid fa-helmet-battle {{#if actor.system.martial.armor}}martial{{/if}}"
                    title="{{localize 'FU.Proficiencies.armor'}}"></i>
                <i class="fas fa-solid fa-shield {{#if actor.system.martial.shields}}martial{{/if}}"
                    title="{{localize 'FU.Proficiencies.shields'}}"></i>
            </div>
            <div class="flexrow rituals">
                <i class="fas fa-solid fa-candle-holder {{#if actor.system.rituals.arcanism}}active{{/if}}"
                    title="{{localize 'FU.Rituals.arcanism'}}"></i>
                <i class="fas fa-solid fa-paw-claws {{#if actor.system.rituals.chimerism}}active{{/if}}"
                    title="{{localize 'FU.Rituals.chimerism'}}"></i>
                <i class="fas fa-solid fa-fire {{#if actor.system.rituals.elementalism}}active{{/if}}"
                    title="{{localize 'FU.Rituals.elementalism'}}"></i>
                <i class="fas fa-solid fa-atom-simple {{#if actor.system.rituals.entropism}}active{{/if}}"
                    title="{{localize 'FU.Rituals.entropism'}}"></i>
                <i class="fas fa-solid fa-circle-nodes {{#if actor.system.rituals.ritualism}}active{{/if}}"
                    title="{{localize 'FU.Rituals.ritualism'}}"></i>
                <i class="fas fa-solid fa-staff {{#if actor.system.rituals.spiritism}}active{{/if}}"
                    title="{{localize 'FU.Rituals.spiritism'}}"></i>
            </div>
            <h2>
                {{localize "FU.UI.characterLevel"}}: {{actor.system.characterLevel}}
                <i class="fas fa-solid fa-book-atlas open-compendium" data-compendium="class"
                    title="{{localize 'FU.UI.openCompendium'}}"></i>
            </h2>
            <div class="flexcol item-list">
                {{#each actor.system.classes as |item|}}
                <div class="item" data-item-id="{{item._id}}">
                    {{> "systems/fabulaultima/templates/actor/partials/class-card.hbs" class=item}}
                </div>
                {{/each}}
            </div>
        </div>

        {{!-- Equipment --}}
        {{> "systems/fabulaultima/templates/actor/partials/equipment-tab.hbs" isPlayer=true}}

        {{!-- Skills --}}
        <div class="tab skills" data-group="primary" data-tab="skills">
            <h2>
                {{localize "FU.Plural.skill"}}
                <i class="fas fa-solid fa-book-atlas open-compendium" data-compendium="skill"
                    title="{{localize 'FU.UI.openCompendium'}}"></i>
            </h2>
            <div class="flexcol skills">
                <div class="item-list">
                    {{#each actor.system.skills as |item|}}
                    <div class="item" data-item-id="{{item._id}}">
                        {{> "systems/fabulaultima/templates/actor/partials/skill-card.hbs" skill=item}}
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

        {{!-- Spells --}}
        <div class="tab spells" data-group="primary" data-tab="spells">
            <h2>
                {{localize "FU.Spells.name"}}
                <i class="fas fa-solid fa-book-atlas open-compendium" data-compendium="spell"
                    title="{{localize 'FU.UI.openCompendium'}}"></i>
            </h2>
            <div class="flexcol spells">
                <div class="item-list">
                    {{#each actor.system.spells as |item|}}
                    <div class="item" data-item-id="{{item._id}}">
                        {{> "systems/fabulaultima/templates/actor/partials/spell-card.hbs" spell=item}}
                    </div>
                    {{/each}}
                </div>
            </div>
            {{#if actor.system.canSummon}}
            <div class="flexcol arcanum">
                <h2>{{localize "FU.Plural.arcanum"}}</h2>
                <div class="item-list">
                    {{#each actor.system.arcanum as |item|}}
                    <div class="item arcana-card" data-item-id="{{item._id}}">
                        <div class="grid grid-4col">
                            <div class="flexrow">
                                {{> "systems/fabulaultima/templates/actor/partials/arcana-card.hbs" arcana=item}}
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{/if}}
        </div>

        {{!-- Bio --}}
        <div class="tab bio" data-group="primary" data-tab="bio">
            <div class="flexcol pronouns">
                <label for="pronouns" class="trait-labels">{{localize "FU.Bio.pronouns"}}</label>
                <input name="system.pronouns" type="text" data-dtype="String" value="{{actor.system.pronouns}}" />
            </div>
            <div class="trait-labels flexrow">
                <label for="identity">{{localize "FU.Traits.identity"}}</label>
                <label for="theme">{{localize "FU.Traits.theme"}}</label>
                <label for="origin">{{localize "FU.Traits.origin"}}</label>
            </div>
            <div class="flexrow">
                <input class="identity" name="system.identity" type="text" data-dtype="String"
                    value="{{actor.system.identity}}" />
                <input class="theme" name="system.theme" type="text" data-dtype="String"
                    value="{{actor.system.theme}}" />
                <input class="origin" name="system.origin" type="text" data-dtype="String"
                    value="{{actor.system.origin}}" />
            </div>
            {{!-- Bonds --}}
            <h2 class="bonds-start">
                {{localize "FU.Bonds.name"}}
                <button class="fabula-button item-create" data-type="bond"><i class="fas fa-solid fa-plus"></i></button>
            </h2>
            <div class="item-list bonds">
                {{#each actor.system.bonds as |item|}}
                <div class="item" data-item-id="{{item._id}}">
                    {{> "systems/fabulaultima/templates/actor/partials/bond-card.hbs" bond=item}}
                </div>
                {{/each}}
            </div>
            <h2>{{localize "FU.UI.notes"}}</h2>
            <div class="editor-host">
                {{editor enrichedNotes target="system.notes" button=true owner=owner
                editable=editable}}
            </div>
        </div>

        {{!-- Effects --}}
        <div class="tab effects" data-group="primary" data-tab="effects">
            <h2>
                {{localize "FU.Items.Types.skillEffects"}}
                <i class="fas fa-solid fa-book-atlas open-compendium" data-compendium="effect"
                    title="{{localize 'FU.UI.openCompendium'}}"></i>
            </h2>
            <div class="flexcol buffs">
                <div class="item-list">
                    {{#each actor.system.skillEffects as |buff|}}
                    <div class="buff item" data-item-id="{{buff._id}}">
                        <div class="grid grid-3col">
                            <div class="flexrow">
                                <p>{{buff.name}}</p>
                                <button class="fabula-button item-delete" title="{{localize 'FU.UI.delete'}}"><i
                                        class="fas fa-solid fa-trash"></i></button>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </section>
</form>