<div class="class-card flexcol">
    <p>Class: {{class.name}}</p>
    <p>Class Level: {{class.system.level}}</p>
    <p>HP Bonus: {{class.system.benefits.resource.hp}}</p>
    <p>MP Bonus: {{class.system.benefits.resource.mp}}</p>
    <p>IP Bonus: {{class.system.benefits.resource.ip}}</p>
</div>