<div class="class-card flexcol">
    <p>Class: {{className}}</p>
    <p>Class Level: {{class.level}}</p>
    <p>HP Bonus: {{class.benefits.resource.hp}}</p>
    <p>MP Bonus: {{class.benefits.resource.mp}}</p>
    <p>IP Bonus: {{class.benefits.resource.ip}}</p>
</div>