<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img class="item-img" src="{{item.img}}" data-edit="img" height="100" width="100" />
		<h1><input type="text" name="name" value="{{item.name}}" data-dtype="String" /></h1>
	</header>

	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="info"><i class="fas fa-solid fa-file-lines"></i> {{localize "FU.UI.general"}}</a>
		<a class="item" data-tab="quality"><i class="fas fas-solid fa-sparkles"></i> {{localize "FU.Quality.name"}}</a>
		<a class="item" data-tab="attack"><i class="fas fa-solid fa-skull-crossbones"></i> {{localize
			"FU.UI.attack"}}</a>
		<a class="item" data-tab="defense"><i class="fas fa-solid fa-shield"></i> {{localize
			"FU.Attributes.defense"}}</a>
	</nav>

	<section class="sheet-body">
		<div class="tab info" data-group="primary" data-tab="info">
			<div class="flexcol">
				<h2>{{localize "FU.UI.properties"}}</h2>
				<div class="flexrow">
					<label for="system.category">{{localize "FU.Weapons.Categories.name"}}</label>
					<select name="system.category" data-dtype="String">
						<option value="arcane" {{#if_eq item.system.category "arcane" }} selected{{/if_eq}}>{{localize
							"FU.Weapons.Categories.arcane"}}
						</option>
						<option value="bow" {{#if_eq item.system.category "bow" }} selected{{/if_eq}}>{{localize
							"FU.Weapons.Categories.bow"}}</option>
						<option value="brawling" {{#if_eq item.system.category "brawling" }} selected{{/if_eq}}>
							{{localize "FU.Weapons.Categories.brawling"}}
						</option>
						<option value="dagger" {{#if_eq item.system.category "dagger" }} selected{{/if_eq}}>{{localize
							"FU.Weapons.Categories.dagger"}}
						</option>
						<option value="firearm" {{#if_eq item.system.category "firearm" }} selected{{/if_eq}}>{{localize
							"FU.Weapons.Categories.firearm"}}
						</option>
						<option value="flail" {{#if_eq item.system.category "flail" }} selected{{/if_eq}}>{{localize
							"FU.Weapons.Categories.flail"}}</option>
						<option value="heavy" {{#if_eq item.system.category "heavy" }} selected{{/if_eq}}>{{localize
							"FU.Weapons.Categories.heavy"}}</option>
						<option value="spear" {{#if_eq item.system.category "spear" }} selected{{/if_eq}}>{{localize
							"FU.Weapons.Categories.spear"}}</option>
						<option value="sword" {{#if_eq item.system.category "sword" }} selected{{/if_eq}}>{{localize
							"FU.Weapons.Categories.sword"}}</option>
						<option value="thrown" {{#if_eq item.system.category "thrown" }} selected{{/if_eq}}>{{localize
							"FU.Weapons.Categories.thrown"}}
						</option>
					</select>
				</div>
				<div class="flexrow">
					<label for="system.cost">{{localize "FU.Items.cost"}}</label>
					<input type="text" name="system.cost" value={{item.system.cost}} data-dtype="Number" />
				</div>
				<div class="grid grid-2col">
					<div class="flexrow">
						<label for="system.twoHands">{{localize "FU.Weapons.twoHand"}}</label>
						<input type="checkbox" name="system.twoHands" data-dtype="Boolean" {{#if item.system.twoHands}}
							checked{{/if}} />
					</div>
					<div class="flexrow">
						<label for="system.range">{{localize "FU.UI.range"}}</label>
						<select name="system.range" data-dtype="String">
							<option value="melee" {{#if_eq item.system.range "melee" }} selected{{/if_eq}}>{{localize
								"FU.UI.melee"}}</option>
							<option value="ranged" {{#if_eq item.system.range "ranged" }} selected{{/if_eq}}>{{localize
								"FU.UI.ranged"}}</option>
						</select>
					</div>
					<div class="flexrow">
						<span>
							<label for="system.multi.value">{{localize "FU.UI.multi"}} <i
									class="fas fa-solid fa-circle-question"
									title="{{localize 'FU.UI.multiEx'}}"></i></label>
							<input class="multi-enabled" type="checkbox" name="system.multi.enabled"
								data-dtype="Boolean" {{#if item.system.multi.enabled}} checked {{/if}} />
						</span>
						<input id="multiValue" type="text" name="system.multi.value" data-dtype="Number"
							value="{{item.system.multi.value}}" {{#unless item.system.multi.enabled}}
							disabled{{/unless}} />
					</div>
					<div class="flexrow">
						<label for="system.isDualWielding">{{localize "FU.Weapons.dualWield"}} <i
								class="fas fa-solid fa-circle-question"
								title="{{localize 'FU.Weapons.dualWieldEx'}}"></i></label>
						<input class="dw-enabled" type="checkbox" name="system.isDualWielding" data-dtype="Boolean"
							{{#if item.system.isDualWielding}} checked {{/if}} />
					</div>
				</div>
				<h3>{{localize "FU.Proficiencies.name"}}</h3>
				<div class="grid grid-2col">
					{{#each item.system.isMartial as |value prof|}}
					<div class="flexrow">
						<label for="system.martial.{{prof}}">{{localize (concat "FU.Proficiencies." prof)}}</label>
						<input type="checkbox" name="system.isMartial.{{prof}}" data-dtype="Boolean" {{#if value}}
							checked{{/if}} />
					</div>
					{{/each}}
				</div>
			</div>
		</div>

		<div class="tab quality" data-group="primary" data-tab="quality">
			<div class="editor-host">
				{{editor enrichedQuality target="system.quality" button=true owner=owner
				editable=editable}}
			</div>
		</div>

		<div class="tab attack" data-group="primary" data-tab="attack">
			<div class="flexcol">
				<h2>{{localize "FU.UI.accuracy"}}</h2>
				<div class="grid grid-2col">
					<div class="flexcol">
						<div class="flexrow">
							<label for="system.accuracy.mainStat">{{localize "FU.Attributes.main"}}</label>
							{{> "systems/fabulaultima/templates/item/partials/attribute-dropdown.hbs"
							selectName="system.accuracy.mainStat" current=item.system.accuracy.mainStat}}
						</div>
						<div class="flexrow">
							<label for="system.accuracy.secondaryStat">{{localize "FU.Attributes.secondary"}}</label>
							{{> "systems/fabulaultima/templates/item/partials/attribute-dropdown.hbs"
							selectName="system.accuracy.secondaryStat" current=item.system.accuracy.secondaryStat}}
						</div>
						<div class="flexrow">
							<label for="system.accuracy.bonus">{{localize "FU.UI.bonus"}}</label>
							<input type="text" name="system.accuracy.bonus" value="{{item.system.accuracy.bonus}}"
								data-dtype="Number" />
						</div>
					</div>
				</div>
				<h2>{{localize "FU.UI.damage"}}</h2>
				<div class="grid grid-2col">
					<div class="flexcol">
						<div class="flexrow">
							<label for="system.damage.bonus">{{localize "FU.UI.bonus"}}</label>
							<input type="text" name="system.damage.bonus" value="{{item.system.damage.bonus}}"
								data-dtype="Number" />
						</div>
						<div class="flexrow">
							<label for="system.damage.type">{{localize "FU.UI.damageType"}}</label>
							{{> "systems/fabulaultima/templates/item/partials/damage-type-dropdown.hbs"
							selectName="system.damage.type" current=item.system.damage.type}}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="tab defense" data-group="primary" data-tab="defense">
			<div class="flexcol">
				<div class="grid grid-4col">
					<div class="flexrow">
						<label for="system.defense">{{localize "FU.Attributes.defense"}}</label>
						<input type="text" name="system.defense.value" value="{{item.system.defense.value}}"
							data-dtype="Number" />
						<label for="system.defense.useDex">{{localize "FU.UI.addDex"}}</label>
						<input type="checkbox" name="system.defense.useDex" data-dtype="Boolean" {{#if
							item.system.defense.useDex}} checked{{/if}} />
					</div>
					<div class="flexrow">
						<label for="system.mDefense">{{localize "FU.Attributes.magicDefense"}}</label>
						<input type="text" name="system.mDefense.value" value="{{item.system.mDefense.value}}"
							data-dtype="Number" />
						<label for="system.mDefense.useIns">{{localize "FU.UI.addIns"}}</label>
						<input type="checkbox" name="system.mDefense.useIns" data-dtype="Boolean" {{#if
							item.system.mDefense.useIns}} checked{{/if}} />
					</div>
				</div>
				<div class="grid grid-2col">
					<div class="flexrow">
						<label for="system.initiative">{{localize "FU.Attributes.initiative"}}</label>
						<input type="text" name="system.initiative" value="{{item.system.initiative}}"
							data-dtype="number" />
					</div>
				</div>
			</div>
		</div>
	</section>
</form>