<form class="{{cssClass}} arcanum-sheet" autocomplete="off">
	<header class="sheet-header">
		<div class="grid grid-2col">
			<div class="flexrow">
				<img class="item-img" src="{{item.img}}" data-edit="img" />
				<h1><input name="name" type="text" value="{{item.name}}" data-dtype="String" /></h1>
			</div>
		</div>
	</header>

	<div class="flexrow domains">
		<label for="system.domains">Domains:</label>
		<input type="text" data-dtype="String" name="system.domains" value="{{item.system.domains}}" />
	</div>

	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="merge"><i class="fas fa-solid fa-shuffle"></i> Merge</a>
		<a class="item" data-tab="dismiss"><i class="fas fa-solid fa-eject"></i> Dismiss</a>
		<a class="item" data-tab="effects"><i class="fas fa-solid fa-wand-magic-sparkles"></i> Effects</a>
	</nav>

	<section class="sheet-body">
		<div class="tab merge" data-group="primary" data-tab="merge">
			<div class="editor-host">
				{{editor enrichedMerge target="system.merge" button=true owner=owner
				editable=editable}}
			</div>
		</div>

		<div class="tab dismiss" data-group="primary" data-tab="dismiss">
			<div class="editor-host">
				{{editor enrichedDismiss target="system.dismiss" button=true owner=owner
				editable=editable}}
			</div>
		</div>

		<div class="tab effects" data-group="primary" data-tab="effects">
			<p>The effect system is for advanced users only. Changing stats requires knowledge of the structure of the
				data. Please look at some items in the compendium and/or consult the documentation before creating your
				own effects.</p>
			{{> "systems/fabulaultima/templates/item/partials/item-effect-sheet.hbs" effects=effects}}
		</div>
	</section>
</form>