<form class="{{cssClass}} consumable-sheet" autocomplete="off">
	<header class="sheet-header">
		<img class="item-img" src="{{item.img}}" data-edit="img" />
		<h1><input type="text" name="name" value="{{item.name}}" data-dtype="String" /></h1>
	</header>

	<section class="sheet-body">
		<label for="system.ipCost">IP Cost</label>
		<input name="system.ipCost" type="text" value="{{item.system.ipCost}}" data-dtype="Number" />
		<h3>Effect</h3>
		<div class="flexrow">
			<div class="editor-host">
				{{editor enrichedQuality target="system.quality" button=true owner=owner
				editable=editable}}
			</div>
		</div>
	</section>
</form>